body {
  
  background-color: #000000;
 
}

p {
  color: #ffffff;
  font-size: x-large;	
}

footer {
  color: #ffffff;
}

.under {
  color: #ffffff;
  font-size: x-large;
  border-bottom: solid 3px #ffffff;
}

.textcenter {
  text-align: center;
}
