body {
  
  /* 画像ファイルの指定 */
  background-image: url(風景3.jpg); 
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  
  
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 5px;
}
menu {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}
menu::before,
menu::after {
  border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
menu::before {
  left: 50%;
}
menu::after {
  right: 50%;
}
menu:hover::before,
menu:hover::after {
  width: 50%;
}
