body {
  
  /* 画像ファイルの指定 */
  background-image: url(風景1.jpg); 
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  
  
}

ul {
  display: flex;
  list-style: none;
  text-align: center;
}
li {
  padding: 30px;
}

a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
}
a:hover {
  text-decoration: none;
}
a::before,
a::after {
  border-bottom: solid 2px #ffffff;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
a::before {
  left: 50%;
}
a::after {
  right: 50%;
}
a:hover::before,
a:hover::after {
  width: 50%;
}

font {
  font-family: 'Nosifer', cursive;
  color: #ffffff;
  font-size: 80px;
}

div#footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	}

p {
  color: #ffffff;
  font-size: x-large;	
}

h4 {
  color: #ffffff;
}
