
body{
  background-image:url("風景2.jpg");
  background-size:cover;  
}
<style>
div{
  text-align: center
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto;
  width:128;
  height:64px;
}
caption{
  font-size: 2.5em;
.toumei{
  background-color:rgba(219,215,215,0.55);
}
h1:first-letter{
  font-size:1.8em;
}
.holiday{
  color: rgba(91,41,255,0.6)
  width:100px;
}
.weekday{
  color: rgba(247,52,52,0.6)
  width:100px;
}
.a{
  width:100px;
}
.b{
  width:100px;
}
.c{
  width:100px;
}
.d{
  width:100px;
}
</style>
  
